/* 
components: btn.scss
*/

.btn {
  display: inline-block;
  border: none;
  border-radius: $border--round;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  //styles
  &--primary {
    background-color: $color--secondary;
    color: $white;
    display: flex;
    align-items: center;
  }
  &--secondary {
    border: 2px solid $color--secondary;
    color: $color--secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--tertiary {
    border: 2px solid $color--qaternary;
    color: $color--qaternary;
  }

  //sizes
  &--s {
    padding: 6px;
  }
  &--m {
    padding: 12px;
  }
  &--l {
    padding: 12px;
  }
}
