/* 
components: input.scss
*/

.input {
  padding: 12px;
  border: none;
  border-radius: 2px;
  padding-left: 12px;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &--primary {
    width: 528px;
    border: 1px solid $grey;
  }

  &--tertiary {
    width: 99px;
    border: 1px solid $grey;
  }
}
