/* 
components: input.scss
*/

.input {
  border: none;
  outline: none;
  border-radius: 2px;
  padding-left: 12px;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &input[type="number"] {
    -moz-appearance: textfield;
  }
  &--primary {
    height: 48px;
    width: 528px;
    border: 1px solid $grey;
  }
  &--secondary {
    height: 48px;
    width: 300px;
    border: 1px solid $black;
  }

  &--tertiary {
    height: 48px;
    width: 99px;
    border: 1px solid $grey;
  }
}
