/* 
utils: images.scss
*/
.img {
  //images
  &--logo {
    &--large {
      content: url(../../assets/images/logo-large.svg);
    }
    &--small {
      content: url(../../assets/images/logo-small.svg);
    }
  }
}
.boxes__img {
  content: url(../../assets/images/boxes.svg);
  width: 100%;
}
.boxes--login {
  content: url(../../assets/images/boxes-login.svg);
  height: 100vh;
}
