/* 
base: vars.scss
*/

//colors
$black: #000000;
$white: #ffffff;
$color--primary: #f1f5f9;
$color--secondary: #2c6efe;
$color--tertiary: #f7f7f7;
$color--qaternary: #e3515b;

//sizes

$unit: 4px;

//border

$border--round: 4px;
